In [1]:
library(tidyverse)
library(RPostgreSQL)

Loading tidyverse: ggplot2
Loading tidyverse: tibble
Loading tidyverse: tidyr
Loading tidyverse: readr
Loading tidyverse: purrr
Loading tidyverse: dplyr
Conflicts with tidy packages ---------------------------------------------------
filter(): dplyr, stats
lag():    dplyr, stats
Loading required package: DBI

In [2]:
source("utils.R")

In [3]:
sql_dir <- file.path("..", "SQL")
list.files(sql_dir)

[1] "basics.sql"      "cohort.sql"      "data.sql"        "lab_tests.sql"
[5] "population.sql"  "vital_signs.sql"

In [4]:
drv <- dbDriver("PostgreSQL")
con <- dbConnect(drv, dbname = "mimic", user = "lcp_db_user")
dbSendQuery(con, "set search_path=echo,public,mimiciii;")

In [5]:
sql <- readr::read_file(file.path(sql_dir, "basics.sql")) %>%
    make_view_sql("basics", "materialized view")

In [6]:
dbSendQuery(con, sql)

In [7]:
sql <- "
select * from basics limit 10;
"
dbGetQuery(con, sql)

   icustay_id hadm_id subject_id age      echo gender weight saps sofa
1  200003     163557  27513      48.29627 1    M       77.0  24   6
2  200003     163557  27513      48.29627 1    M       77.0  24   6
3  200003     163557  27513      48.29627 1    M       77.0  24   6
4  200014     127229   9514      84.73004 1    M       62.0  23   3
5  200030     165426  14987      54.19308 1    M      113.6  17   7
6  200033     198650  56369      67.14657 0    M       74.0  15   1
7  200033     198650  56369      67.14657 0    M       74.0  15   1
8  200033     198650  56369      67.14657 0    M       74.0  15   1
9  200033     198650  56369      67.14657 0    M       74.0  15   1
10 200033     198650  56369      67.14657 0    M       74.0  15   1
   elix_score vent vaso weekday
1   0         1    0    5
2   0         1    0    5
3   0         1    1    5
4   3         1    0    1
5  19         0    1    5
6   9         0    0    2
7   9         0    0    2
8   9         0    0    2
9   9         0    0    2
10  9         0    0    2

In [8]:
dbDisconnect(con)
dbUnloadDriver(drv)

[1] TRUE

[1] TRUE