In [1]:
library(tidyverse)
library(RPostgreSQL)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.0 ──
✔ ggplot2 2.2.1     ✔ purrr   0.2.4
✔ tibble  1.3.4     ✔ dplyr   0.7.4
✔ tidyr   0.7.2     ✔ stringr 1.2.0
✔ readr   1.1.1     ✔ forcats 0.2.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
Loading required package: DBI

In [2]:
source("utils.R")

In [3]:
sql_dir <- file.path("..", "sql")
list.files(sql_dir)

[1] "basics.sql"              "cohort.sql"
[3] "icd9.sql"                "lab_tests.sql"
[5] "lab_tests_taken_gen.sql" "lab_tests_taken.sql"
[7] "lab_test_taken_tmpl"     "population.sql"
[9] "vital_signs.sql"

In [4]:
drv <- dbDriver("PostgreSQL")
con <- dbConnect(drv, dbname = "mimic")
dbSendQuery(con, "set search_path=echo,public,mimiciii;")

In [5]:
sql <- readr::read_file(file.path(sql_dir, "lab_tests_taken.sql")) %>%
    make_view_sql("lab_tests_taken", "materialized view")

In [6]:
dbSendQuery(con, sql)

In [7]:
sql <- "
select * from lab_tests_taken limit 10;
"
dbGetQuery(con, sql)

   hadm_id hemoglobin wbc lactate po2 troponin potassium creatinine_kinase
1  145834  1          1   1       1   0        1         1
2  128652  0          0   1       1   0        1         0
3  101757  1          1   1       1   0        1         0
4  190797  1          1   0       0   0        1         0
5  104130  1          1   0       0   1        1         1
6  170467  1          1   0       0   0        1         1
7  175533  1          1   1       1   0        1         1
8  161160  1          1   1       0   1        1         1
9  114585  1          1   1       1   1        1         1
10 168006  1          1   1       1   1        1         1
   creatinine pco2 bnp bun bicarbonate platelet sodium chloride ph
1  1          1    0   1   1           1        1      1        1
2  1          1    0   1   1           1        1      1        1
3  1          1    0   1   1           1        1      1        1
4  1          0    0   1   1           1        1      1        0
5  1          0    0   1   1           1        1      1        0
6  1          0    0   1   1           1        1      1        0
7  1          1    0   1   1           1        1      1        1
8  1          0    0   1   1           1        1      1        0
9  1          1    0   1   1           1        1      1        1
10 1          1    0   1   1           1        1      1        1

In [8]:
dbDisconnect(con)
dbUnloadDriver(drv)

[1] TRUE

[1] TRUE