In [1]:
library(tidyverse)
library(RPostgreSQL)

Loading tidyverse: ggplot2
Loading tidyverse: tibble
Loading tidyverse: tidyr
Loading tidyverse: readr
Loading tidyverse: purrr
Loading tidyverse: dplyr
Conflicts with tidy packages ---------------------------------------------------
filter(): dplyr, stats
lag():    dplyr, stats
Loading required package: DBI

In [2]:
source("utils.R")

In [3]:
sql_dir <- file.path("..", "SQL")
list.files(sql_dir)

[1] "cohort.sql"     "data.sql"       "population.sql"

In [4]:
drv <- dbDriver("PostgreSQL")
con <- dbConnect(drv, dbname = "mimic", user = "lcp_db_user")
dbSendQuery(con, "set search_path=echo,public,mimiciii;")

In [5]:
dbListTables(con) %>% head

[1] "callout"          "chartevents_10"   "d_icd_procedures" "d_items"
[5] "d_labitems"       "labevents"

In [6]:
sql <- readr::read_file(file.path(sql_dir, "population.sql")) %>%
    make_view_sql("population", "view")

In [7]:
dbSendQuery(con, sql)

In [8]:
sql <- "
select * from population limit 10;
"
dbGetQuery(con, sql)

   icustay_id first_careunit intime              outtime             angus
1  200001     MICU           2181-11-25 19:06:12 2181-11-28 20:59:25 0
2  200003     SICU           2199-08-02 19:50:04 2199-08-08 17:09:18 1
3  200006     MICU           2159-09-03 11:28:14 2159-09-04 19:08:10 0
4  200007     CCU            2109-02-17 10:03:37 2109-02-18 17:03:12 0
5  200009     CSRU           2189-11-30 10:34:32 2189-12-02 14:17:37 0
6  200010     MICU           2132-08-04 23:03:19 2132-08-05 22:14:11 0
7  200011     MICU           2188-08-06 01:39:24 2188-08-07 16:50:53 0
8  200012     MICU           2153-12-23 05:12:55 2153-12-23 15:55:54 0
9  200014     SICU           2105-02-16 23:16:48 2105-02-18 16:53:29 1
10 200016     SICU           2150-12-02 15:59:20 2150-12-03 14:54:29 0
   age      icu_order echo_time
1  61.07128  6        <NA>
2  48.29627  1        2199-08-03
3  54.07231  3        <NA>
4  43.34501  1        2109-02-19
5  47.55598  1        2189-12-01
6  27.25306 33        <NA>
7  84.23475  3        <NA>
8  32.98968  1        <NA>
9  84.73004  1        2105-02-18
10 67.23670  2        <NA>

In [9]:
dbDisconnect(con)
dbUnloadDriver(drv)

[1] TRUE

[1] TRUE