In [1]:
import pandas as pd
import psycopg2
import tableone

In [2]:
con = psycopg2.connect(dbname='mimic')
cursor = con.cursor()

In [3]:
cursor.execute('set search_path=echo,public,mimiciii;')

In [4]:
basics = pd.read_sql_query('select * from basics;', con)
basics.weekday = basics.weekday.astype(int)
basics.head()

,icustay_id,hadm_id,subject_id,age,echo,gender,weight,saps,sofa,elix_score,vent,vaso,weekday
0,200003,163557,27513,48.296271,1,M,77.0,24,6,0,1,0,5
1,200003,163557,27513,48.296271,1,M,77.0,24,6,0,1,0,5
2,200003,163557,27513,48.296271,1,M,77.0,24,6,0,1,1,5
3,200014,127229,9514,84.730042,1,M,62.0,23,3,3,1,0,1
4,200030,165426,14987,54.193080,1,M,113.6,17,7,19,0,1,5

In [5]:
columns = ['age', 'gender', 'weight',
           'saps', 'sofa', 'elix_score',
           'vent', 'vaso', 'weekday']

In [6]:
cat_cols = ['gender', 'vent', 'vaso', 'weekday']

In [7]:
tb = tableone.TableOne(data=basics, columns=columns, groupby='echo', categorical=cat_cols)

In [8]:
tb

Stratified by echo
                         0              1                isnull
-----------------------  -------------  -------------  --------
n                        3905           6004                  0
age (mean (std))         82.67 (64.70)  78.77 (59.13)         0
weight (mean (std))      80.00 (24.56)  83.18 (27.50)       911
saps (mean (std))        20.03 (5.73)   21.73 (5.45)          0
sofa (mean (std))        5.69 (3.79)    7.02 (3.98)           0
elix_score (mean (std))  8.70 (7.54)    10.33 (7.61)          0
gender (n (%))                                                0
F                        1992 (51.01)   2781 (46.32)
M                        1913 (48.99)   3223 (53.68)
vent (n (%))                                                  0
0                        1835 (46.99)   1976 (32.91)
1                        2070 (53.01)   4028 (67.09)
vaso (n (%))                                                  0
0                        2891 (74.03)   4508 (75.08)
1                        1014 (25.97)   1496 (24.92)
weekday (n (%))                                               0
0                        504 (12.91)    850 (14.16)
1                        494 (12.65)    866 (14.42)
2                        520 (13.32)    859 (14.31)
3                        541 (13.85)    914 (15.22)
4                        591 (15.13)    858 (14.29)
5                        708 (18.13)    824 (13.72)
6                        547 (14.01)    833 (13.87)

In [9]:
cursor.close()
con.close()