In [1]:
library(tidyverse)
library(RPostgreSQL)

Loading tidyverse: ggplot2
Loading tidyverse: tibble
Loading tidyverse: tidyr
Loading tidyverse: readr
Loading tidyverse: purrr
Loading tidyverse: dplyr
Conflicts with tidy packages ---------------------------------------------------
filter(): dplyr, stats
lag():    dplyr, stats
Loading required package: DBI

In [2]:
source("utils.R")

In [3]:
sql_dir <- file.path("..", "sql")
list.files(sql_dir)

[1] "basics.sql"      "cohort.sql"      "lab_tests.sql"   "population.sql"
[5] "vital_signs.sql"

In [4]:
drv <- dbDriver("PostgreSQL")
con <- dbConnect(drv, dbname = "mimic")
dbSendQuery(con, "set search_path=echo,public,mimiciii;")

In [5]:
sql <- readr::read_file(file.path(sql_dir, "vital_signs.sql")) %>%
    make_view_sql("vital_signs", "materialized view")

In [6]:
dbSendQuery(con, sql)

In [7]:
sql <- "
select * from vital_signs limit 10;
"
dbGetQuery(con, sql)

   subject_id hadm_id icustay_id charttime           label valuenum
1   3         145834  211552     2101-10-21 07:05:00 map   68
2   3         145834  211552     2101-10-21 07:05:00 cvp   10
3   3         145834  211552     2101-10-21 08:00:00 map   67
4   3         145834  211552     2101-10-21 08:00:00 cvp   10
5  31         128652  254478     2108-08-23 20:00:00 map   68
6  31         128652  254478     2108-08-23 21:00:00 map   79
7   3         145834  211552     2101-10-20 20:30:00 map   61
8   3         145834  211552     2101-10-20 20:45:00 map   67
9   3         145834  211552     2101-10-20 21:00:00 map   55
10  3         145834  211552     2101-10-20 21:15:00 map   66

In [8]:
sql <- readr::read_file(file.path(sql_dir, "lab_tests.sql")) %>%
    make_view_sql("lab_tests", "materialized view")

In [9]:
dbSendQuery(con, sql)

In [ ]:
sql <- "
select * from lab_tests limit 10;
"
dbGetQuery(con, sql)

In [ ]:
dbDisconnect(con)
dbUnloadDriver(drv)